flask
flask-cors
gunicorn
werkzeug
opencv-python-headless
numpy
python-Levenshtein
opencv-python
opencv-python-headless  # Optional for environments without GUI support
pdf2image
unidecode
pytesseract

